<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITRevu</title>
    <!-- Ajoutez vos liens CSS et autres méta-informations ici -->
</head>
<body>
    <!-- Barre de navigation -->
    <nav>
        <div class="nav-container">
            <!-- Logo et titre -->
            <div class="nav-title">
                <a href="{% url 'home' %}">LITRevu</a>
            </div>
            <!-- Liens à droite -->
            <div class="nav-links">
                <a href="{% url 'manage_followers' %}">Abonnements</a>
                <a href="{% url 'combined_list' %}">Flux</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- Le contenu de la page va ici -->
        {% block content %}
        {% endblock %}
    </div>

    <!-- Ajoutez vos scripts JS ou autres éléments ici -->
</body>
</html>
