<!-- book_review_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Détails de la Critique</h1>

  <h2>{{ review.title }}</h2>
  <p>Auteur de la Critique : {{ review.author }}</p>
  <p>Évaluation : {{ review.rating }}/5</p>
  <p>Commentaire : {{ review.text }}</p>

  <h2>Informations sur le Ticket</h2>
  <p>Titre du Ticket : {{ ticket.book_title }}</p>
  <p>Auteur du Ticket : {{ ticket.user }}</p>
  <p>Date de Création du Ticket : {{ ticket.created_date }}</p>
  <p>Description du Ticket : {{ ticket.text }}</p>
    <img src="{{ ticket.book_image.url }}" alt="{{ ticket.book_title }}">

  <a href="{% url 'ticket_list' %}">Retour à la Liste des Tickets</a>
{% endblock %}
